.product-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-header {
  display: flex;
  justify-content: center; /* Tengahkan horizontal */
  align-items: center; /* Tengahkan vertikal */
  text-align: center;
  margin-bottom: 20px;
}

.product-header h2 {
  font-size: 24px;
  color: #6f429f;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.save-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button {
  background-color: #6f429f;
  color: #fff;
}

.save-button:hover {
  background-color: #5a2e7a;
}

.cancel-button {
  background-color: #f44336;
  color: #fff;
}

.cancel-button:hover {
  background-color: #d32f2f;
}

.error-message {
  color: #f44336;
  margin-bottom: 20px;
}
